.page {
  --background: #121212;
  --primary-text: #fff;
  --btn-color: #0096cf;
  --bgColor: #05091d;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.mainBanner {
  position: relative;
  padding: 190px 0 160px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
/* @keyframes radialGradientAnimation {
  0% {
    background: radial-gradient(circle, red 40%, yellow 100%);
  }
  25% {
    background: radial-gradient(circle, blue 40%, purple 100%);
  }
  50% {
    background: radial-gradient(circle, green 40%, teal 100%);
  }
  75% {
    background: radial-gradient(circle, pink 40%, orange 100%);
  }
  100% {
    background: radial-gradient(circle, red 40%, yellow 100%);
  }
}

.mainBanner {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  animation: radialGradientAnimation 10s infinite ease-in-out;
} */
.mainBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(180.07deg, rgba(0, 0, 0, 0) 0.06%, #000000 116.27%),
    linear-gradient(359.91deg, rgba(0, 0, 0, 0) 55.58%, #000000 105.69%);
  height: 100%;
  width: 100%;
  z-index: 1;
}
.bgVideo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.bgVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sectionLeft {
  position: relative;
  z-index: 2;
  /* text-align: center; */
}
.sectionLeft h1 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 30px;
  text-align: center;
}
.sectionLeft h2 {
  color: #fff;
  font-size: 34px;
  margin-bottom: 30px;
}
.sectionLeft p {
  color: #fff;
  font-size: 20px;
  margin: 0 auto 30px;
}
/* .sectionLeft h1 span {
  color: var(--btn-color);
} */
.cmnBtn {
  padding: 10px 25px;
  font-size: 18px;
  /* background-color: var(--btn-color); */
  background: linear-gradient(219deg, #0096cf 0%, #052441 100%);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
  gap: 15px;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s;
  /* border-radius: 12px; */
}
.cmnBtn::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
  transition: all 500ms ease;
  background: linear-gradient(219deg, #052441 0%, #0096cf 100%);
}
.cmnBtn:hover:before {
  width: 100%;
}
.sectionRight {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.bannerImg1 {
  position: relative;
  margin-top: 50px;
}
.bannerImg2 figure,
.bannerImg1 figure {
  display: block;
  /* border-radius: 999px; */
  overflow: hidden;
  max-width: 500px;
}
.bannerImg2 figure img,
.bannerImg1 figure img {
  width: 100%;
  /* aspect-ratio: 1 / 1.65; */
  object-fit: cover;
  /* border-radius: 999px; */
}
.breadcrumbWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  list-style: none;
}
.breadcrumbList a,
.breadcrumbList {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #fff;
}
.breadcrumbList a:hover {
  color: var(--btn-color);
}

.subtitle {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-text);
  margin-bottom: 20px;
}
.title {
  font-size: 40px;
  color: var(--primary-text);
  margin-bottom: 20px;
}
.aboutRight p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
}
/* ===================contact========== */
.contactSection {
  position: relative;
  padding: 60px 0;
}
.headerTop {
  position: relative;
}
.headerTop p {
  font-size: 20px;
}
.contactLeft {
  padding-right: 50px;
}
.eachAddressBox {
  position: relative;
  padding: 25px;
  padding-bottom: 100px;
  height: calc(100% - 30px);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  background: #1b1b1b;
  /* max-width: 350px; */
  gap: 20px;
  transition: all 0.5s ease;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 20px;
  z-index: 1;
  transition: all 0.5s ease;
  margin-right: 50px;
}
.eachAddressBox:hover{
  transform: translateY(-10px);
}
.eachAddressBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}
.eachAddressBox h4{
  margin-bottom: 20px;
}
.eachAddress {
  position: relative;
  display: flex;
  /* align-items: center; */
  gap: 15px;
}
.eachAddress:not(:last-child) {
  margin-bottom: 15px;
}
.addressIcon svg {
  font-size: 20px;
  color: #0096cf;
}
.eachAddress p,
.eachAddress a {
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.eachAddressBox h5{
  font-size: 20px;
  color: #0096cf;
}
.eachSupportBox {
  display: flex;
  gap: 20px;
  position: relative;
  padding: 15px;
  height: calc(100% - 30px);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  background: #1b1b1b;
  align-items: center;
  margin-bottom: 20px;
}
.eachSupportBox:hover {
  background: linear-gradient(
    135deg,
    rgba(0, 150, 207, 1) 0%,
    rgba(5, 36, 65, 1) 100%
  );
}
.eachSupportBox h4 {
  font-size: 20px;
}
.eachSupportBox p {
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.eachIcon img {
  width: 50px;
  height: 50px;
}
.eachSupportBox:hover img {
  filter: brightness(0) invert(1);
}

.contactFormWrapper {
  position: relative;
  background-color: #121212;
  border: 1px solid #313131;
  border-radius: 20px;
  padding: 30px;
}
.contactFormWrapper h5 {
  font-size: 26px;
  margin-bottom: 30px;
}
.eachFormGroup {
  position: relative;
  margin-bottom: 25px;
  background-color: transparent;
  border: 1px solid #0094cf67;
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
}
.eachFormGroup::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.customDropdownWrapper {
  position: relative;
  margin-bottom: 25px;
}

.customDropdown {
  border: 1px solid #0094cf67;
  padding: 10px 20px;
  width: 100%;

  border-radius: 10px;
  color: #fff;
  background-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownIcon {
  margin-left: 8px;
}

.dropdownList {
  list-style: none;
  margin: 4px 0 0;
  padding: 0;
  position: absolute;
  width: 100%;
  border: 1px solid #0094cf67;
  border-radius: 6px;
  background-color: #1b1b1b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  top: auto;
  overflow: hidden;
}

.dropdownList li {
  padding: 10px 16px;
  cursor: pointer;
}

.dropdownList li:hover {
  background-color: #0096cf;
}
.contactFormWrapper .cmnBtn {
  border: none;
}
.privacyPolicy {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}
.privacyPolicy a {
  font-size: 16px;
  color: #fff;
  text-decoration: underline!important;
}



/* ================officeAddress=============== */
.officeAddress{
  position: relative;
  padding:20px 0 60px 0;
}
.officeAddress .headerSection {
  text-align: center;
  margin-bottom: 50px;
}







/* ==============workTogether============== */
.workTogether {
  position: relative;
}
.workTogether .headerSection {
  text-align: center;
  margin-bottom: 50px;
}
.workTogether .headerSection p {
  font-size: 20px;
}
.togetherBox {
  padding: 60px 0 90px 0;
  position: relative;
}
.togetherBox::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(/images/work-together-bg-gradient9.png) no-repeat;
  background-position: center center;
  background-size: 50%;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.eachContactItem {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contactIcon {
  position: relative;
  height: 54px;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #101010;
  border: 1px solid #313131;
}
.contactIcon svg {
  font-size: 24px;
  color: #0096cf;
}
.contactContent {
  position: relative;
}
.contactContent h5 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}
.contactContent a {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}
.eachContactItem:hover .contactIcon {
  background-color: #0096cf;
  border-color: #0096cf;
}
.eachContactItem:hover .contactIcon svg {
  color: #fff;
}
