.topBar {
  background-color: #0e4d8d;
  padding: 10px 0;
}

.topMenu ul {
  list-style: none;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 0;
  padding: 0;
}

.topMenu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "Aileron", sans-serif;
  cursor: pointer;
}
.globeIcon {
  font-size: 28px;
}
.topMenu ul li a:hover {
  color: #ec6433;
}
/* .main_header {
  position: absolute;
  width: 100%;
} */
.header {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.main_header {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #ffffff1a;
}

.main_header.sticky {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: 0.7s ease-in-out 0s normal none 1 running vlfadeInDown;
}
@keyframes vlfadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.mainLogo img {
  transition: transform 0.3s;
  width: 150px;
}

.main_header.sticky .mainLogo img {
  transform: scale(0.9);
}
.logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}
.navWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navWrap .socialIcon ul {
  padding: 0;
  display: flex;
  gap: 15px;
  margin: 0;
}
.navWrap .socialIcon ul li {
  display: inline-block;
}
.navWrap .socialIcon ul li a {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.nav {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;

}
.navBtn {
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #0096cf;
  color: #fff;
  border-radius: 5px;
  border: none;
}
/* .eachNav {
  margin-left: 25px;
} */
.eachNavMenu {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s;
  font-weight: 600;
  cursor: pointer;
}
.eachNav.active .eachNavMenu,
.eachNavMenu:hover {
  color: #0096cf;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.megaMenuWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.megaMenu {
  overflow: hidden;
  width: 100%;
  background: #121212;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  /* display: flex; */
  padding: 40px;
  justify-content: space-between;
}
.megaMenuLeft {
  display: flex;
  gap: 50px;

  justify-content: space-between;
  width: 100%;
}
.megaMenuRight {
  display: flex;
  gap: 50px;

  justify-content: space-between;
  width: 100%;
}

.megaMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.imdustryImg {
  max-width: 300px;
  width: 100%;
}
.dropdownMenu ul li a,
.megaMenu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: inline-flex;
  gap: 20px;
  padding: 10px 15px;
  align-items: center;
}
.dropdownMenu ul li:first-child a,
.megaMenu ul li:first-child a {
  padding-top: 0;
}
.dropdownMenu ul li a:hover,
.megaMenu ul li a:hover {
  color: #0096cf;
}
.imdustryImg img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.imdustryImg h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.imdustryImg h4 a,
.imdustryImg h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
.imdustryImg h4 a:hover {
  color: #0096cf;
}
.menuBtn {
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  gap: 10px;
  align-items: center;
}
.seeAll:hover {
  color: #0096cf;
}
.menuBtn:hover {
  color: #0096cf;
}
.seeAll {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ffffff29;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: auto;
  min-width: 200px;
  background-color: #121212;
  padding: 20px 0 10px;
}
.dropdownMenu ul {
  padding: 0;
  margin: 0;
  display: block;
}

/* Responsive Design */

@media (max-width: 992px) {
  .eachNavMenu {
    font-size: 12px !important;
  }
  .topBar {
    display: none;
  }
  .navWrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav a {
    padding: 10px 12px;
    width: 100%;
    display: block;
    position: relative;
  }
  .nav {
    display: block;
    width: 100%;
  }
  .eachNavMenuIcon {
    position: absolute;
    top: 10px;
    font-size: 20px;
    right: 10px;
  }
  .megamenuTitle {
    display: none;
  }
  .megaMenuWrapper {
    position: static;
  }
  .megaMenuRightWrap .imdustryImg img,
  .imdustryImg {
    display: none;
  }
  .megaMenuRightWrap .imdustryImg {
    display: block;
  }
  .megaMenuRight {
    display: block;
  }
  .megaMenuRight .menuBtn {
    display: none;
  }
  .megaMenuLeft {
    padding: 0;
    display: block;
  }
  .megaMenu {
    background: #000;
    padding: 0 0;
  }
  .megaMenuRight .megaMenuBtn,
  .dropdownMenu ul li a,
  .megaMenu ul li a {
    font-size: 14px;
    display: block;
    padding: 6px 12px;
  }
  .dropdownMenu {
    position: static;
    padding: 0 10px;
    background: #000;
  }
  .dropdownMenu ul {
    padding: 0;
    margin: 0;
    display: block;
  }
  .seeAll {
    font-size: 14px;
    display: block;
    padding: 6px 12px;
    margin-top:20px;
    padding-top: 20px;
    border-top: 1px solid #ffffff29;
  }
  .socialIcon{
    padding: 10px 12px;
  }
}
@media (max-width: 768px) {
  .topBar {
    padding: 7px 0;
  }
  .main_header {
    padding: 12px 0;
  }

  .mainLogo img {
    transition: transform 0.3s;
    width: 100px;
  }
  .navContainer {
    width: 100%;
    height: 100%;
    float: none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -100%;
    padding: 70px 0 0;
    background: #000;
    display: block;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  .navContainer.showNav {
    right: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav {
    flex-direction: column;
    padding: 0;
    gap: 0;
    list-style: none;
  }
  .nav.open {
    display: flex;
  }
  .eachNav {
    position: relative;
  }
  .closeNav {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
  }

  .closeNavBtn {
    background: transparent;
    border: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
  }

  .hamburger {
    display: block;
  }
  .topMenu {
    justify-content: center;
  }
  .topMenu ul li a {
    font-size: 12px;
  }
}
